/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #18181b;
  color: #991F36;
  font-family: Times New Roman;
  font-size: 18px;

}


p {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;            /* Footer height */
}
form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}
.highlight {
    background-color: #F1F0EF;
    color: #18181b;
}
  
    
input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
}




.frame {
  
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 350px;
  height: 40px;
  color: #18181b;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Times New Roman;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.misg{
  background: #F1F0EF;
  border: none;
  z-index: 1;
}
.misg:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #991F36;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.misg:hover {
  color: #18181b;
}
.misg:hover:after {
  left: 0;
  width: 100%;
}
.misg:active {
  top: 2px;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  
  p, li, form {
    max-width: 90%;
  }
  
  h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  .frame {
    margin: 20px auto;
  }
  
  .custom-btn {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  .frame {
    margin: 30px auto;
  }
  
  .custom-btn {
    width: 110px;
    height: 35px;
    font-size: 16px;
  }
}

/* For screens larger than 900px */
@media (min-width: 900px) {
  body {
    font-size: 18px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  .frame {
    margin: 40px auto;
  }
  
  .custom-btn {
    width: 350px;
    height: 40px;
    font-size: 18px;
  }
}
